.word {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;

  > span {
    overflow: visible;
    padding-top: 15px;
    transform: translate3d(0, 1.2em, 0);
    will-change: transform;
  }
}

.animated-text {
  position: relative;
  top: -15px;

  .word {
    > span {
      display: inline-block;
      vertical-align: text-bottom;
      transform: translate3d(0, 0, 0);
      transition-property: transform;
      transition-timing-function: ease;
      transition-duration: $s-animation-time;
    }
  }

  &--finished {
    .word {
      overflow: visible;
    }
  }
}
