@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes translateYText {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes translateXText {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes widthChatField {
  from {
    width: 0;
    padding: 0;
  }

  to {
    width: calc(100% - 21rem);
    padding: 0 5.6rem;
  }
}

@keyframes fullTranslateYBlock {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes animationBtn {
  from {
    width: 0;
    padding-right: 0;
    padding-left: 0;
  }

  to {
    width: auto;
    padding-right: 2.9rem;
    padding-left: 2.9rem;
  }
}

@keyframes rollInRight {
  0% {
    transform: translateX(150%) rotate(300deg);
  }

  55% {
    transform: translateX(-10px) rotate(-45deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes rollInLeft {
  0% {
    transform: translateX(-150%) rotate(-300deg);
  }

  55% {
    transform: translateX(10px) rotate(45deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}
